<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">

<body>
<div class="col-md-3 container">
    <br>
    <br>
<form th:object="${entry}" method="post" th:action="@{/blog/new}">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" th:field = "*{title}" name="title" id="title">
    </div>

    <div class="form-group">
        <label>Body:</label>
        <textarea type="text" class="form-control" th:field="*{body}" id="body"></textarea>
    </div>

    <div class="form-group">
        <label for="writer">Writer:</label>
        <input type="text" class="form-control" th:field="*{writer}" id="writer">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>
</body>
</th:block>
</html>